.top-bar{
    display:flex;
    justify-content: space-around; 
    padding: 3px;
    
     a,h1{
        margin: 10px 0 0 0 ; 
        color: black;
         i{
           font-size: 32px;
         }
      }
  }