@charset "UTF-8";
/* Her ændres på den hvide box p[ profilsiden */
.box-wrap {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 40px;
  margin-top: 0;
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
          box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
  position: relative;
}

.box-wrap .box-wrap__profileText {
  margin-bottom: 50px;
}

.box-wrap .box-wrap__profileText h3, .box-wrap .box-wrap__profileText p {
  margin: 0;
}

/* Her ændres på den gradientbagrund der er i bodyen paa login, signup og forgottenpasswoed siderne og placeringen af swipe, search knapperne + selve kortene*/
body {
  font-family: 'Kanit', sans-serif;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #52ac52;
  background: linear-gradient(29deg, rgba(41, 40, 40, 0.795) 9%, black 91%);
  margin: auto;
  background-size: 100% 180%;
  text-align: center;
}

/* Her ændres på den hvide box bagerst paa login siden + placeringen input og label*/
.login {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
  margin: 5px 40px;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: 0 7px 9px rgba(3, 3, 3, 0.877);
          box-shadow: 0 7px 9px rgba(3, 3, 3, 0.877);
  /* Her ændres på placeringen af 'opret' og 'glemt kode' liksene p[ loginsiden og paa 'login' linket paa signupsiden da owerflowet ikke bliver vist*/
}

.login .form-group {
  overflow: hidden;
}

/* Her ændres på den hvide box bagerst paa forgottenpassword siden + placeringenaf input og label*/
.forgottenPasword-form {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
  padding-top: 80px;
  margin: 5px 40px;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: 0 7px 9px rgba(3, 3, 3, 0.877);
          box-shadow: 0 7px 9px rgba(3, 3, 3, 0.877);
}

/* Her ændres på teksten 'log Ind' paa login siden*/
.Logind-h1 {
  float: left;
  color: #727070;
  margin-top: 50px;
  margin-left: 0;
}

/* Her ændres på teksten 'opret' paa signup siden*/
.opret-h1 {
  float: left;
  color: #727070;
  margin-top: 60px;
  margin-left: 0;
  font-size: 1.8em;
}

/* Her ændres på teksten 'send' paa forgottenpassword siden*/
.forgottenPassword-text-h1 {
  float: left;
  color: #727070;
  margin-top: 60px;
  margin-left: 0;
  font-size: 1.8em;
}

/* Her ændres på edit ikonet paa index, createkey, mycardsog profile siderne*/
#edit-top {
  color: white;
  float: right;
  margin: 10px;
}

/* Her ændres på edit ikonet placering paa index, createkey, mycardsog profile siderne*/
.edit-top {
  float: right;
  width: 100%;
}

/* Styleguide*/
.container-styleguide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.styleguide-body {
  width: 100%;
}

.styleguide-headline {
  text-decoration: underline;
  margin: 15px;
}

.container-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  min-width: 100%;
}

.color1 {
  background-color: #b1d6ae;
  height: 50px;
  min-width: 10%;
  margin: 9px;
  min-height: 140px;
  border: black solid 1px;
}

.color2 {
  background-color: #4f7e53;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color3 {
  background-color: #52ac52;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color4 {
  background-color: #ff0008;
  height: 50px;
  min-width: 10%;
  margin: 9px;
  min-height: 140px;
  border: black solid 1px;
}

.color5 {
  background-color: #ffffff;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color6 {
  background-color: #e9e6e6;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color7 {
  background-color: #dcdcdc;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color8 {
  background-color: #808080;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color9 {
  background-color: #000000;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.container-styleguide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  min-width: 100%;
  margin-bottom: 150px;
}

.color-text {
  min-width: 10%;
  margin: 10px;
}

.color-h5 {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px;
  color: black;
}

.font-where, .ex-font {
  width: 50%;
  color: black;
}

.font-where {
  margin-right: 100px;
}

.h1-styleguide, .h2-styleguide, .h3-styleguide, .h4-styleguide, .h5-styleguide, .h6-styleguide {
  color: black;
}

.styleguide-headline3, .styleguide-headline, .icons-div, .topbar-div, .toggle-div, .buttons-div {
  width: 25%;
  text-decoration: underline;
  color: lightgrey;
}

.icons-div, .topbar-div, .toggle-div, .swipe-div, .buttons-div, .forms-div, .nav-div, .contentbox-div, .images-div {
  min-width: 25%;
  margin: 30px;
}

.styleguide-icons {
  width: 60%;
  margin: 20px;
}

.styleguide-toggle-buttons {
  width: 25%;
  margin: 20px;
}

.styleguide-topbar {
  width: 95%;
  margin: 20px;
}

.styleguide-buttons2 {
  width: 75%;
  margin: 20px;
}

.styleguide-swipe {
  width: 75%;
  margin: 20px;
}

.styleguide-forms {
  width: 90%;
  margin: 20px;
}

.styleguide-forms2 {
  width: 90%;
  margin-top: 120px;
}

.styleguide-nav {
  width: 95%;
  margin: 20px;
}

.headline {
  margin-left: 0;
  color: black;
  font-size: 3em;
}

.casper {
  border-radius: 100px;
  width: 80px;
  float: right;
}

/*sktiften paa forgotpasswordsiden der informere om nulstilling*/
.forgottenPassword-text {
  font-size: 1.1em;
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0;
}

/*yderste div om swipeboxen*/
.btn-swipebox {
  /*den hvide box, hvori den runde gronne tjek befinder sig*/
  /*Den runde gronne tjek naar den staar til hojre*/
  /*Denne er den hvide box om den gronne cirkel naar den gronne staar til hojre*/
}

.btn-swipebox input[type="checkbox"] {
  position: relative;
  width: 60%;
  height: 80px;
  margin: 0;
  -webkit-appearance: none;
  background: #e9e6e6;
  outline: none;
  border-radius: 70px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s;
  transition: .5s;
  /*Den runde gronne tjek naar den staar til venste*/
}

.btn-swipebox input[type="checkbox"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  content: "\f054";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 3em;
  line-height: 63px;
  top: 9px;
  left: 8px;
  text-align: center;
  background: #10a03b;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-swipebox input:checked[type="checkbox"] {
  background: white;
}

.btn-swipebox input:checked[type="checkbox"]::before {
  left: 180px;
}

.btn-swipebox input:checked[type="checkbox"] {
  background: white;
}

.btn-swipebox input:checked[type="checkbox"]::before {
  left: 180px;
}

/*styling af linket paa loginsiden i bunden 'Opret'*/
.Createpassword {
  color: #9d9d9e;
  float: left;
  font-family: 'Montserrat', sans-serif;
}

/*styling af linket paa loginsiden i bunden 'Glemt kode?'*/
.Forgottenpassword {
  float: right;
  font-family: 'Montserrat', sans-serif;
  color: #9d9d9e;
}

/*styling af den hvide box(wrappen) paa login, signin, forgottenpassword, creatkey og profil siderne'*/
.wrap {
  position: relative;
  width: 100%;
  margin: 0;
  float: right;
}

.wrap .wrap-item {
  overflow: hidden;
}

.wrap .wrap-item .wrap-item__left, .wrap .wrap-item .wrap-item__right {
  width: 50%;
  float: left;
}

.wrap input {
  display: none;
}

label {
  margin: 1.5em auto;
}

/*kanal*/
.slider-v2::before {
  position: absolute;
  content: '';
  width: 4em;
  height: 1.5em;
  top: 0px;
  left: 0.75em;
  border-radius: 0.75em;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(255, 255, 255, 0.1))), #d0d0d0;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
  -webkit-box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
          box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .slider-v2::before {
  -webkit-box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
          box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .slider-v2::after {
  left: 3em;
}

/*Den graa cirkelknap paa login,signup og idexsiden*/
.btn-submit {
  background-color: #9d9d9e;
  border: none;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 2em;
  line-height: 63px;
  top: 9px;
  left: 20px;
  text-align: center;
  -webkit-box-shadow: 0 4px 7px rgba(3, 3, 3, 0.877);
          box-shadow: 0 4px 7px rgba(3, 3, 3, 0.877);
  float: right;
  margin-top: 40px;
  margin-bottom: 90px;
  margin-right: 10px;
}

/*styling af liksteksten paa login og signupsiden*/
.links {
  font-size: 1.3em;
  margin-bottom: 40px;
  color: #9d9d9e;
  font-family: 'Montserrat', sans-serif;
}

/*styling af den gronne knap paaprofilesiden*/
.save-user-btn-text {
  background-color: #10a005;
  border: none;
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
  margin: 20px auto;
  display: block;
  font-family: 'Kanit', sans-serif;
  width: 73%;
  font-size: 1.5em;
}

/*styling af knapperne paa settingssiden*/
.settings-btn-text {
  background-color: white;
  border: none;
  color: #9d9d9e;
  padding: 15px 25px;
  border-radius: 15px;
  margin: 20px auto;
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  font-family: 'Kanit', sans-serif;
  width: 81%;
  font-size: 1.5em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* kortslider show container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.card-container {
  max-width: 1000px;
  max-height: 390px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  overflow: scroll;
}

/* slider billeder */
.slide-img {
  background-color: white;
  border: none;
  color: #9d9d9e;
  padding: 15px 25px;
  border-radius: 15px;
  margin: 20px auto;
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  font-family: 'Kanit', sans-serif;
  width: 81%;
  font-size: 1.5em;
}

/* her syles at de kort der ikke er i focus ikke kan ses */
.mySlides {
  display: none;
}

/* frem og tilbage iconer */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -52px;
  padding: 16px;
  font-weight: bold;
  font-size: 38px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(0, 0, 0, 0);
}

/* placering af next iconet */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* placering af prev iconet */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* styling saa kortet fader ud */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* alle kortene */
.card1, .card2, .card3, .card4, .card5, .card6 {
  margin-bottom: 20px;
}

/* styling af alle inputfelterne paa login, signin, forgottenpassword, creatkey og profilesiderne*/
.input-field {
  border: none;
  border-bottom: 1px solid black;
  width: 98%;
  color: white;
}

/* styling af alt tekst i inputfelterne paa login, signin, forgottenpassword, creatkey og profilesiderne*/
.label-field {
  font-size: 1.2em;
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  float: left;
}

/* styling af boxen om sogefeltet paa siderne, index og mycards */
.search-box-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 22px;
}

/* styling af teksten i sogefeltet paa siderne, index og mycards */
.search-box-input {
  font-size: inherit;
  border: 0.2em solid white;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.2em 0.5em;
  outline: 0;
}

/* styling med hoover i sogefeltet paa siderne, index og mycards (saa naar man har trykket bliver den gron)*/
.search-box-input:hover {
  border-color: #10a005;
}

/* styling af sogeknappen til hojre for sogefeltet paa siderne, index og mycards */
.search-box-button {
  font-size: inherit;
  border: 0em solid white;
  border-radius: 0 0.5em 0.5em 0;
  background-color: white;
}

/* styling med hoover paa sogeknappen til hojre for sogefeltet paa siderne, index og mycards (saa naar man har trykket bliver den gron)*/
.search-box-button:hover {
  background-color: #10a005;
}

/* logo paa alle sider*/
.logo {
  margin-top: 20px;
  width: 60%;
  margin-bottom: 40px;
}

.logo2 {
  margin-top: -16px;
  width: 60%;
  margin-bottom: 40px;
}

/* #*/
.navigation-bar {
  background-color: white;
  padding: 3px;
  border-radius: 15px;
  margin: 0 20px 20px 20px;
  bottom: 0px;
  left: 8px;
  right: 8px;
  position: fixed;
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
          box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
  display: none;
  /* #*/
}

.navigation-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5px 0;
  padding: 0;
  /* #*/
}

.navigation-bar ul li {
  /* #*/
}

.navigation-bar ul li a {
  color: black;
  padding: 0.5em 1.5em;
  border-radius: 25px;
  display: block;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  /* #*/
  /* #*/
}

.navigation-bar ul li a i {
  font-size: 2em;
}

.navigation-bar ul li a.active {
  color: white;
  background-color: grey;
}
/*# sourceMappingURL=style.css.map */