@charset "UTF-8";
/* Her ændres på den hvide box p[ profilsiden */
.box-wrap {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  margin: 40px;
  margin-top: 0;
}

.box-wrap .box-wrap__profileimage {
  overflow: hidden;
}

/* Her ændres på den gradientbagrund der er i bodyen paa login, signup og forgottenpasswoed siderne og placeringen af swipe, search knapperne + selve kortene*/
body {
  min-height: 100vh;
  font-family: 'Kanit', sans-serif;
  margin: auto;
  text-align: center;
}

body.bg-theme {
  background-size: 100% 180%;
  background: linear-gradient(29deg, rgba(41, 40, 40, 0.795) 9%, black 91%);
}

/* Her ændres på den hvide box bagerst paa login siden + placeringen input og label*/
.login {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 5px 40px;
  margin-bottom: 20px;
  /* Her ændres på placeringen af 'opret' og 'glemt kode' liksene p[ loginsiden og paa 'login' linket paa signupsiden da owerflowet ikke bliver vist*/
}

.login .form-group {
  overflow: hidden;
}

.create {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto 20px auto;
  width: 71%;
  min-height: 200px;
  /* Her ændres på placeringen af 'opret' og 'glemt kode' liksene p[ loginsiden og paa 'login' linket paa signupsiden da owerflowet ikke bliver vist*/
}

.create .form-group {
  overflow: hidden;
}

/* Her ændres på den hvide box bagerst paa forgottenpassword siden + placeringenaf input og label*/
.forgottenPasword-form {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
  padding-top: 80px;
  margin: 5px 40px;
  margin-bottom: 20px;
}

/* Her ændres på teksten 'log ind' paa login siden*/
.Logind-h1 {
  float: left;
  color: #727070;
  margin-top: 50px;
  margin-left: 0;
}

/* Her ændres på teksten 'opret' paa signup siden*/
.opret-h1 {
  float: left;
  color: #727070;
  margin-top: 60px;
  margin-left: 0;
  font-size: 1.8em;
}

/* Her ændres på teksten 'send' paa forgottenpassword siden*/
.forgottenPassword-text-h1 {
  float: left;
  color: #727070;
  margin-top: 60px;
  margin-left: 0;
  font-size: 1.8em;
}

/* Her ændres på boxen til edit/instillings ikonet paa index, createkey, mycardsog profile siderne*/
#edit-top {
  color: white;
  float: right;
  margin: 0px;
  margin-right: 8px;
  margin-top: -10px;
  font-size: 2em;
}

/* Her ændres på edit/instillings ikonet placering paa index, createkey, mycardsog profile siderne*/
.edit-top {
  float: right;
  width: 100%;
}

/* Styleguide*/
.container-styleguide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.styleguide-body {
  width: 100%;
  background: white;
}

.styleguide-headline {
  text-decoration: underline;
  margin: 15px;
}

.container-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  min-width: 100%;
}

.color1 {
  background-color: #b1d6ae;
  height: 50px;
  min-width: 10%;
  margin: 9px;
  min-height: 140px;
  border: black solid 1px;
}

.color2 {
  background-color: #4f7e53;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color3 {
  background-color: #52ac52;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color4 {
  background-color: #ff0008;
  height: 50px;
  min-width: 10%;
  margin: 9px;
  min-height: 140px;
  border: black solid 1px;
}

.color5 {
  background-color: #ffffff;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color6 {
  background-color: #e9e6e6;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color7 {
  background-color: #dcdcdc;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color8 {
  background-color: #808080;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color9 {
  background-color: #000000;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.container-styleguide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  min-width: 100%;
  margin-bottom: 150px;
}

.color-text {
  min-width: 10%;
  margin: 10px;
}

.color-h5 {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px;
  color: black;
}

.font-where, .ex-font {
  width: 50%;
  color: black;
}

.font-where {
  margin-right: 100px;
}

.h1-styleguide, .h2-styleguide, .h3-styleguide, .h4-styleguide, .h5-styleguide, .h6-styleguide {
  color: black;
}

.styleguide-headline3, .styleguide-headline, .icons-div, .topbar-div, .toggle-div, .buttons-div {
  width: 25%;
  text-decoration: underline;
  color: lightgrey;
}

.icons-div, .topbar-div, .toggle-div, .swipe-div, .buttons-div, .forms-div, .nav-div, .contentbox-div, .images-div {
  min-width: 25%;
  margin: 30px;
}

.styleguide-icons {
  width: 60%;
  margin: 20px;
}

.styleguide-toggle-buttons {
  width: 25%;
  margin: 20px;
}

.styleguide-topbar {
  width: 95%;
  margin: 20px;
}

.styleguide-buttons2 {
  width: 75%;
  margin: 20px;
}

.styleguide-swipe {
  width: 75%;
  margin: 20px;
}

.styleguide-forms {
  width: 90%;
  margin: 20px;
}

.styleguide-forms2 {
  width: 90%;
  margin-top: 120px;
}

.styleguide-nav {
  width: 95%;
  margin: 20px;
}

.headline {
  margin-left: 0;
  color: black;
  font-size: 3em;
}

.casper {
  border-radius: 100px;
  width: 80px;
  float: right;
}

/*sktiften paa forgotpasswordsiden der informere om nulstilling*/
.forgottenPassword-text {
  font-size: 1.1em;
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0;
}

.nav-page-text {
  color: #575758;
  text-align: start;
  margin-left: 60px;
}

#h1-mykeys {
  margin-bottom: -40px;
}

#h1-settings {
  margin-bottom: -20px;
  margin-left: 40px;
}

#h1-mycards {
  margin-bottom: -40px;
  margin-left: 40px;
}

#h1-index {
  margin-bottom: -20px;
}

#h1-createkey {
  margin-bottom: -20px;
}

#h1-forgotPassword, #h1-login, #h1-profile, #h1-signup {
  margin-bottom: -3px;
  margin-left: 40px;
}

/*yderste div om swipeboxen*/
.btn-swipebox {
  position: relative;
  /*den hvide box, hvori den runde gronne tjek befinder sig*/
  /*Denne er den hvide box om den gronne cirkel naar den gronne staar til hojre*/
  /*Teksten i swipeknappen*/
}

.btn-swipebox input[type="checkbox"] {
  position: relative;
  width: 71%;
  height: 50px;
  margin: -6px;
  -webkit-appearance: none;
  background: #e9e6e6;
  outline: none;
  border-radius: 70px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s;
  transition: .5s;
  right: -1%;
  /*Den runde gronne tjek naar den staar til venste*/
}

.btn-swipebox input[type="checkbox"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  content: "\f054";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 2em;
  line-height: 40px;
  top: 6px;
  left: 6px;
  text-align: center;
  background: #10a03b;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-swipebox input:checked[type="checkbox"] {
  background: white;
}

.btn-swipebox input:checked[type="checkbox"]::before {
  left: 85%;
}

.btn-swipebox span {
  display: none;
  position: absolute;
  left: 58%;
  top: -2px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #9d9d9e;
  font-size: 1.2em;
  width: 100%;
}

.btn-swipebox span.btn-swipebox__status {
  display: block;
}

.btn-swipebox .btn-swipebox__success {
  color: #10a03b;
}

/*styling af linket paa loginsiden i bunden 'Opret'*/
.Createpassword {
  color: #9d9d9e;
  float: left;
  font-family: 'Montserrat', sans-serif;
}

.Creatuser-div {
  color: #9d9d9e;
  float: left;
  font-family: 'Montserrat', sans-serif;
  margin-top: 47px;
}

/*styling af linket paa loginsiden i bunden 'Glemt kode?'*/
.Forgottenpassword {
  float: right;
  font-family: 'Montserrat', sans-serif;
  color: #9d9d9e;
}

/*styling af den hvide box(wrappen) paa login, signin, forgottenpassword, creatkey og profil siderne'*/
.wrap {
  position: relative;
  width: 100%;
  margin: 0;
  float: right;
}

.wrap .wrap-item {
  overflow: hidden;
}

.wrap .wrap-item .wrap-item__left, .wrap .wrap-item .wrap-item__right {
  width: 50%;
  float: left;
}

.wrap input {
  display: none;
}

/*styling af label'*/
label {
  margin: 0.5em auto;
}

/*kanal*/
.slider-v2::before {
  position: absolute;
  content: '';
  width: 4em;
  height: 1.5em;
  top: 0px;
  left: 0.75em;
  border-radius: 0.75em;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(255, 255, 255, 0.1))), #d0d0d0;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
  -webkit-box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
          box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .slider-v2::before {
  -webkit-box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
          box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
}

input:checked + .slider-v2::after {
  left: 3em;
}

/*Den graa cirkelknap paa login,signup og idexsiden*/
.btn-submit {
  background-color: #9d9d9e;
  border: none;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 2em;
  line-height: 83px;
  top: 9px;
  left: 20px;
  text-align: center;
  -webkit-box-shadow: 0 4px 7px rgba(3, 3, 3, 0.877);
          box-shadow: 0 4px 7px rgba(3, 3, 3, 0.877);
  float: right;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-right: 10px;
}

/*styling af liksteksten paa login og signupsiden*/
.links {
  font-size: 1.3em;
  margin-bottom: 40px;
  color: #9d9d9e;
  font-family: 'Montserrat', sans-serif;
}

/*styling af den gronne knap paaprofilesiden*/
.save-user-btn-text {
  background-color: #10a005;
  border: none;
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
  margin: 20px auto;
  display: block;
  font-family: 'Kanit', sans-serif;
  width: 73%;
  font-size: 1.2em;
}

/*styling af knapperne paa settingssiden*/
.settings-btn-text {
  background-color: white;
  border: none;
  color: #9d9d9e;
  padding: 15px 25px;
  border-radius: 15px;
  margin: 20px auto;
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  font-family: 'Kanit', sans-serif;
  width: 81%;
  font-size: 1.5em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* kortslider show container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-container {
  max-width: 1000px;
  max-height: 465px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  overflow: scroll;
}

/* slider billeder */
.slide-img {
  background-color: white;
  border: none;
  color: #9d9d9e;
  padding: 15px 25px;
  border-radius: 15px;
  margin: 20px auto;
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  font-family: 'Kanit', sans-serif;
  width: 81%;
  font-size: 1.5em;
}

/* her styles de kort der ikke er i focus ikke kan ses */
.mySlides {
  display: none;
}

/* frem og tilbage ikoner */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -52px;
  padding: 16px;
  font-weight: bold;
  font-size: 38px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(0, 0, 0, 0);
}

/* placering af next iconet */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* placering af prev iconet */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* styling saa kortet fader ud */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* alle kortene */
.card1, .card2, .card3, .card4, .card5, .card6 {
  margin-bottom: 20px;
}

.key-card-container {
  max-height: 490px;
  overflow-x: scroll;
  margin-top: 13px;
}

.key-card-container .key-card {
  background-color: white;
  border: none;
  color: #9d9d9e;
  padding: 15px 25px;
  border-radius: 15px;
  margin: 30px auto;
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  font-family: 'Kanit', sans-serif;
  width: 81%;
  font-size: 1.5em;
  height: 260px;
}

.key-card-container .key-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.key-card-container .key-card .top .left h2 {
  font-size: 18px;
  margin: 10px 0;
}

.key-card-container .key-card .top .right h2 {
  font-size: 18px;
  margin: 10px 0;
}

.key-card-container .key-card .top .right h3 {
  font-size: 14px;
  margin: 10px 0;
}

.key-card-container .key-card .bottom img {
  width: 219px;
  margin-left: 0px;
  height: 135px;
}

/* styling af alle inputfelterne paa login, signin, forgottenpassword, creatkey og profilesiderne*/
.input-field {
  border: none;
  border-bottom: 1px solid black;
  width: 98%;
  color: #707070;
}

.form-group {
  overflow: hidden;
  padding: 12px 10px 0px 0px;
}

/* styling af alt tekst i inputfelterne paa login, signin, forgottenpassword, creatkey og profilesiderne*/
.label-field {
  font-size: 1.0em;
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  float: left;
  margin: 10px auto;
}

/* styling af boxen om sogefeltet paa siderne, index og mycards */
.search-box-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 22px;
  position: relative;
}

/* styling af teksten i sogefeltet paa siderne, index og mycards */
.search-box-input {
  font-size: inherit;
  border: 0.2em solid white;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  outline: 0;
  width: 99%;
  margin-left: 5px;
}

/* styling af sogeknappen til hojre for sogefeltet paa siderne, index og mycards */
.search-box-button {
  font-size: inherit;
  border: 0;
  background-color: white;
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 0.5em;
}

/* styling med hoover paa sogeknappen til hojre for sogefeltet paa siderne, index og mycards (saa naar man har trykket bliver den gron)*/
.search-box-button:hover {
  background-color: #10a005;
}

#click-text {
  position: absolute;
  color: #10a005;
  font-size: 2em;
  margin-top: -40px;
  left: 150px;
  top: 220px;
}

/* logo paa alle sider*/
.logo {
  margin-top: 20px;
  width: 60%;
  margin-bottom: 40px;
}

.logo2 {
  margin-top: -16px;
  width: 60%;
  margin-bottom: 40px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slideshow-container .slideshow-container__item {
  height: 260px;
  width: 360px;
}

.slideshow-container .slideshow-container__item .slideshow-container__item__inner {
  margin: 0 20px;
  width: 300px;
  height: 240px;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
}

.slideshow-container .slideshow-container__item .slideshow-container__item__inner .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.slideshow-container .slideshow-container__item .slideshow-container__item__inner .top .left h2 {
  font-size: 18px;
  margin: 10px 0;
}

.slideshow-container .slideshow-container__item .slideshow-container__item__inner .top .right h2 {
  font-size: 18px;
  margin: 10px 0;
}

.slideshow-container .slideshow-container__item .slideshow-container__item__inner .top .right h3 {
  font-size: 14px;
  margin: 10px 0;
}

.slideshow-container .slideshow-container__item .slideshow-container__item__inner .bottom img {
  width: 219px;
  margin-left: 10px;
  height: 135px;
}

.container-styleguide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-styleguide.container-styleguide--min-width .container-styleguide__item {
  min-width: 20vw;
}

.container-styleguide .container-styleguide__item {
  margin: 40px 0;
}

.container-styleguide .container-styleguide__item h2 {
  font-size: 1.4em;
}

.container-styleguide .container-styleguide__item p {
  font-size: 12px;
}

.container-styleguide .container-styleguide__item .color-block {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.container-styleguide .container-styleguide__item .color-block.color-block--black {
  background-color: #000000;
}

.container-styleguide .container-styleguide__item .color-block.color-block--white {
  background-color: #ffffff;
}

.container-styleguide .container-styleguide__item .color-block.color-block--green {
  background-color: #10A03B;
}

.container-styleguide .container-styleguide__item .color-block.color-block--gray1 {
  background-color: #707070;
}

.container-styleguide .container-styleguide__item .color-block.color-block--gray2 {
  background-color: #9D9D9D;
}

.container-styleguide .container-styleguide__item .container-styleguide__item__paragraphs {
  max-width: 60%;
  margin: 0 auto;
  display: block;
}

.container-styleguide .container-styleguide__item .container-styleguide__item__fonts {
  max-width: 60%;
  margin: 0 auto;
  display: block;
}

.container-styleguide .container-styleguide__item .container-styleguide__item__fonts .knait-font {
  font-family: 'kanit', sans-serif;
}

.container-styleguide .container-styleguide__item .container-styleguide__item__fonts .montseerat-font {
  font-family: 'montseerat', sans-serif;
}

.container-styleguide .container-styleguide__item .settings-btn {
  border: 1px solid black;
  border-radius: 10px;
}

.container-styleguide .container-styleguide__item #mobile-nav {
  position: relative;
}

.container-styleguide .container-styleguide__item .login {
  border: 1px solid black;
}

/* #*/
.navigation-bar {
  background-color: white;
  padding: 3px;
  border-radius: 15px;
  margin: 0 20px 20px 20px;
  bottom: 0px;
  left: 8px;
  right: 8px;
  position: fixed;
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
          box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
  display: none;
  /* #*/
}

.navigation-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5px 0;
  padding: 0;
  /* #*/
}

.navigation-bar ul li {
  /* #*/
}

.navigation-bar ul li a {
  color: black;
  padding: 0.5em 1.5em;
  border-radius: 25px;
  display: block;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  /* #*/
  /* #*/
}

.navigation-bar ul li a i {
  font-size: 2em;
}

.navigation-bar ul li a.active {
  color: white;
  background-color: grey;
}

#mobile-nav {
  font: 12px;
  color: #f2f2f2;
  text-align: center;
  position: fixed;
  right: 3%;
  bottom: 2%;
  margin-left: -25px;
}

#mobile-nav .icon {
  width: 75px;
  height: 75px;
  line-height: 75px;
  background: #10a03b;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 999;
}

#mobile-nav .icon i {
  font-size: 35px;
  margin-top: 20px;
}

#mobile-nav .icon span {
  display: block;
  position: absolute;
  left: 25%;
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background: #f2f2f2;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#mobile-nav .menu {
  position: relative;
  left: 25px;
  top: -25px;
}

#mobile-nav .menu .menu-item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: none;
  margin-top: -25px;
  margin-left: -10px;
}

#mobile-nav .menu .menu-item a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
}

#mobile-nav .menu .menu-item a i {
  font-size: 25px;
  margin-top: 13px;
}
/*# sourceMappingURL=style.css.map */