.input-field{
    border: none;        
    border-bottom: 1px solid rgb(124, 121, 121);
    width: 98%;
    margin-bottom: 20px;
    color: gray;
    
}

.label-field{
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: gray;
}

.search-form{
    .form-group{
        overflow: hidden;
        input{
            width:80%;
            float:left;
            border:none;
            margin:5px;
        }
        button{
            float:right;
            background:none;
            border:none;
            font-size:22px;
        }
    }
}