.login{
    form{
        input{
            border: none;
            border-bottom: solid black;
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
            font-size: 1.3em;
            width: 98%;
        }
    }
}