.box-wrap{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
    position: relative;
    

    .box-wrap__right{
      float: left;
      width: 60%;

      img{
        max-width: 100%;
      }
    }
    .box-wrap__left{
      float:left;
      width: 40%;
    }
    &.editprofile, &.profile{
      margin-top:75px;
      margin-bottom:115px;

      .box-wrap__profileImage{
        position: relative;
        img{
          position: absolute;
          left: 50%;
          top:-30px;
          height: 100px;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
        .btn-edit__profileImage{
          position:absolute;
          left:55%;
          background-color: grey;
          padding:5px;
          border-radius:50%;
          border:none;
          
          i.fas{
            color:white;
          }
        }
      }
      .box-wrap__profileText{
        margin-bottom:50px;        
        h3, p{
          margin:0;
        }
      }
    }
  }

  .clear{
    clear:both;
  }
  body{
    
    font-family: 'Kanit', sans-serif;
  }
  body.bg-theme{
    background: rgba(177,214,174, 0.5);
    background-image: url(../img/bagrund1t.png);
    background-size: 100% 180%;
    background-repeat: no-repeat;
  }

  .login{
    
    padding: 40px;
    margin: 20px;
    overflow: hidden;

    .form-group{
      overflow: hidden;
    }
    }

   
    .log-ind-knap{
      border: none;
      
      
    }

    .Brugernavn, .Kode{
      font-weight: lighter;
      font-size: 1em;
      border-width: thin;
      border-color: gainsboro;
    }

    .Logo{
      text-align: center;
    }

  
    .save-info-btn{
      border: none;
      border-radius: 0;
    }
     
  
      
  
    .name, .info{
      font-weight: lighter;
      font-size: 1em;
      border-width: thin;
      border-color: gainsboro;
    }

    .Logind-h1{
      float: left;
      color: gray;
    }


    
  