/// <reference path="/Helpers/_vars" />


/* Her ændres på den hvide box p[ profilsiden */
.box-wrap{
    background-color:#fff;
    border-radius: 15px;
    padding: 10px;
    margin: 40px;
    margin-top: 0;
    .box-wrap__profileimage{
      overflow:hidden;
    }
      
  }

  /* Her ændres på den gradientbagrund der er i bodyen paa login, signup og forgottenpasswoed siderne og placeringen af swipe, search knapperne + selve kortene*/

  body{
    min-height:100vh;
    font-family: 'Kanit', sans-serif;
    margin: auto;
    text-align: center;
    &.bg-theme{
      background-size: 100% 180%;
      background: linear-gradient(29deg, rgba(41, 40, 40, 0.795) 9%, rgba(0,0,0,1) 91%);
    }
  }

  
 /* Her ændres på den hvide box bagerst paa login siden + placeringen input og label*/
 

  .login{
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    margin: 5px 40px;
    margin-bottom: 20px;
   

  

    /* Her ændres på placeringen af 'opret' og 'glemt kode' liksene p[ loginsiden og paa 'login' linket paa signupsiden da owerflowet ikke bliver vist*/
    .form-group{
      overflow: hidden;
    }
    }

    .create{
      background-color:white;
      border-radius: 10px;
      padding: 15px;
      margin:20px auto 20px auto;
      width:71%;
      min-height: 200px;
      
     
  
    
  
      /* Her ændres på placeringen af 'opret' og 'glemt kode' liksene p[ loginsiden og paa 'login' linket paa signupsiden da owerflowet ikke bliver vist*/
      .form-group{
        overflow: hidden;
      }
      }

    /* Her ændres på den hvide box bagerst paa forgottenpassword siden + placeringenaf input og label*/
    .forgottenPasword-form{
      background-color:white;
      overflow: hidden;
      border-radius: 10px;
      padding: 20px;
      padding-top: 80px;
      margin: 5px 40px;
      margin-bottom: 20px;
    }    

    /* Her ændres på teksten 'log ind' paa login siden*/
    .Logind-h1{
      float: left;
      color: rgb(114, 112, 112);
      margin-top: 50px;
      margin-left: 0;
    }
  
    /* Her ændres på teksten 'opret' paa signup siden*/
    .opret-h1{
      float: left;
      color: rgb(114, 112, 112);
      margin-top: 60px;
      margin-left: 0;
      font-size: 1.8em;
    }

    /* Her ændres på teksten 'send' paa forgottenpassword siden*/
    .forgottenPassword-text-h1{
      float: left;
      color: rgb(114, 112, 112);
      margin-top: 60px;
      margin-left: 0;
      font-size: 1.8em;
    }


  /* Her ændres på boxen til edit/instillings ikonet paa index, createkey, mycardsog profile siderne*/
  #edit-top{
    color: white;
    float: right;
    margin: 0px;
    margin-right: 8px;
    margin-top: -10px;
    font-size: 2em;
  }

   /* Her ændres på edit/instillings ikonet placering paa index, createkey, mycardsog profile siderne*/

  .edit-top{
    float: right;
    width: 100%;

  }








 /* Styleguide*/


 .container-styleguide{
  display: flex;
  flex-direction: row;
} 



.styleguide-body{
  width: 100%;
  background: white;
}



.styleguide-headline{
  text-decoration: underline;
  margin: 15px;;
}

.container-color{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  min-width: 100%;

}

.color1{
  background-color: #b1d6ae;
  height: 50px;
  min-width: 10%;
  margin: 9px;
  min-height: 140px;
  border: black solid 1px;
}

.color2{
  background-color: #4f7e53;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;

}

.color3{
  background-color: #52ac52;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color4{
  background-color: #ff0008;
  height: 50px;
  min-width: 10%;
  margin: 9px;
  min-height: 140px;
  border: black solid 1px;
}

.color5{
  background-color: #ffffff;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color6{
  background-color: #e9e6e6;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color7{
  background-color: #dcdcdc;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color8{
  background-color: #808080;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}

.color9{
  background-color: #000000;
  height: 50px;
  min-width: 10%;
  min-height: 140px;
  margin: 9px;
  border: black solid 1px;
}





.container-styleguide{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  min-width: 100%;
  margin-bottom: 150px;
}

.color-text{
  min-width: 10%;
  margin: 10px;


}

.color-h5{
  color: black;
}


h1,h2,h3,h4,h5,h6{
  margin: 20px;
  color: black;
}

.font-where,.ex-font{
  width: 50%;
  color: black;
}

.font-where{
  margin-right: 100px;
}

.h1-styleguide,.h2-styleguide,.h3-styleguide,.h4-styleguide,.h5-styleguide,.h6-styleguide{
  color: black;
}

.styleguide-headline3,.styleguide-headline,.icons-div,.topbar-div,.toggle-div,.buttons-div{
  width: 25%;
  text-decoration: underline;
  color: lightgrey;
}

.icons-div,.topbar-div,.toggle-div,.swipe-div,.buttons-div,.forms-div,.nav-div,.contentbox-div,.images-div{
  min-width: 25%;
  margin: 30px;
}

.styleguide-icons{
  width: 60%;
  margin: 20px;
}

.styleguide-toggle-buttons{
  width: 25%;
  margin: 20px;
}

.styleguide-topbar{
  width: 95%;
  margin: 20px;
}





.styleguide-buttons2{
  width: 75%;
  margin: 20px;
}

.styleguide-swipe{
  width: 75%;
  margin: 20px;
}





.styleguide-forms{
  width: 90%;
  margin: 20px;
}

.styleguide-forms2{
  width: 90%;
  margin-top: 120px;
  
}

.styleguide-nav{
  width: 95%;
  margin: 20px;
}

.headline{
  margin-left: 0;
  color:  black;
  font-size: 3em;
}

.casper{
  border-radius: 100px;
  width: 80px;
  float: right;
}
