.box-wrap{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.76);
    position: relative;
    

    .box-wrap__right{
      float: left;
      width: 60%;
      margin-top: 50px;
      margin-bottom: 50px;

      img{
        max-width: 100%;
      }
    }
    .box-wrap__left{
      float:left;
      width: 40%;
    }
    &.editprofile, &.profile{
      margin-top:75px;
      margin-bottom:115px;

      .box-wrap__profileImage{
        position: relative;
        img{
          position: absolute;
          left: 50%;
          top:-30px;
          height: 100px;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
        .btn-edit__profileImage{
          position:absolute;
          left:55%;
          background-color: grey;
          padding:5px;
          border-radius:50%;
          border:none;
          
          i.fas{
            color:white;
          }
        }
      }
      .box-wrap__profileText{
        margin-bottom:50px;        
        h3, p{
          margin:0;
        }
      }
    }
  }

  .clear{
    clear:both;
  }
  body{
    
    font-family: 'Kanit', sans-serif;
  }
  body.bg-theme{
    background: rgba(177,214,174, 0.5);
    background-image: url(../img/bagrund1t.png);
    background-size: 100% 180%;
    background-repeat: no-repeat;
  }

  .login{
    
    padding: 40px;
    margin: 20px;
    overflow: hidden;

    .form-group{
      overflow: hidden;
    }
    }

   
    .log-ind-knap{
      border: none;
      
      
    }

    .Brugernavn, .Kode{
      font-weight: lighter;
      font-size: 1em;
      border-width: thin;
      border-color: gainsboro;
    }

    .Multikey{
      text-align: center;
    }

  
    .save-info-btn{
      border: none;
      border-radius: 0;
    }
     
  
      
  
    .name, .info{
      font-weight: lighter;
      font-size: 1em;
      border-width: thin;
      border-color: gainsboro;
    }

    .Logind-h1{
      float: left;
      color: gray;
      margin-top: 50px;
    }

  
  .container-styleguide{
    display: flex;
    flex-direction: row;
  }  

  .flexbox-icon{
    vertical-align: middle;
  }

  .flexbox-icontext{
   margin-top: 32px;
  }

  .UCLlogo{
    height: 150px;
    float: right;
    margin-top: 80px;
    border-radius: 1em;
    margin-right: 20px;
  }
  
  .styleguide-body{
    width: 100%;
  }


  

  .styleguide-headline{
    text-decoration: underline;
    margin: 15px;;
  }

  .container-color{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    min-width: 100%;

  }

  .color1{
    background-color: #b1d6ae;
    height: 50px;
    min-width: 10%;
    margin: 9px;
    min-height: 140px;
    border: black solid 1px;
  }

  .color2{
    background-color: #4f7e53;
    height: 50px;
    min-width: 10%;
    min-height: 140px;
    margin: 9px;
    border: black solid 1px;

  }

  .color3{
    background-color: #52ac52;
    height: 50px;
    min-width: 10%;
    min-height: 140px;
    margin: 9px;
    border: black solid 1px;
  }

  .color4{
    background-color: #ff0008;
    height: 50px;
    min-width: 10%;
    margin: 9px;
    min-height: 140px;
    border: black solid 1px;
  }

  .color5{
    background-color: #ffffff;
    height: 50px;
    min-width: 10%;
    min-height: 140px;
    margin: 9px;
    border: black solid 1px;
  }

  .color6{
    background-color: #e9e6e6;
    height: 50px;
    min-width: 10%;
    min-height: 140px;
    margin: 9px;
    border: black solid 1px;
  }

  .color7{
    background-color: #dcdcdc;
    height: 50px;
    min-width: 10%;
    min-height: 140px;
    margin: 9px;
    border: black solid 1px;
  }

  .color8{
    background-color: #808080;
    height: 50px;
    min-width: 10%;
    min-height: 140px;
    margin: 9px;
    border: black solid 1px;
  }

  .color9{
    background-color: #000000;
    height: 50px;
    min-width: 10%;
    min-height: 140px;
    margin: 9px;
    border: black solid 1px;
  }

  
  


  .container-styleguide{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    min-width: 100%;
    margin-bottom: 150px;
  }

  .color-text{
    min-width: 10%;
    margin: 10px;


  }

  .color-h5{
    color: black;
  }


  h1,h2,h3,h4,h5,h6{
    margin: 20px;
    color: black;
  }

  .font-where,.ex-font{
    width: 50%;
    color: black;
  }

  .font-where{
    margin-right: 100px;
  }

  .h1-styleguide,.h2-styleguide,.h3-styleguide,.h4-styleguide,.h5-styleguide,.h6-styleguide{
    color: black;
  }

  .styleguide-headline3,.styleguide-headline,.icons-div,.topbar-div,.toggle-div,.buttons-div{
    width: 25%;
    text-decoration: underline;
    color: black;
  }

  .icons-div,.topbar-div,.toggle-div,.swipe-div,.buttons-div,.forms-div,.nav-div,.contentbox-div,.images-div{
    min-width: 25%;
    margin: 30px;
  }

  .styleguide-icons{
    width: 60%;
    margin: 20px;
  }

  .styleguide-toggle-buttons{
    width: 25%;
    margin: 20px;
  }

  .styleguide-topbar{
    width: 95%;
    margin: 20px;
  }

  



  .styleguide-buttons2{
    width: 75%;
    margin: 20px;
  }

  .styleguide-swipe{
    width: 75%;
    margin: 20px;
  }





  .styleguide-forms{
    width: 90%;
    margin: 20px;
  }

  .styleguide-forms2{
    width: 90%;
    margin-top: 120px;
    
  }

  .styleguide-nav{
    width: 95%;
    margin: 20px;
  }