/*sktiften paa forgotpasswordsiden der informere om nulstilling*/

.forgottenPassword-text{
    font-size: 1.1em;
    color: rgb(112, 112, 112);
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}















